/152039757-paysan-chinois-dans-un-large-chapeau-porte-sur-ses-épaules-des-balles-de-broussailles-illustration.jpg
/android-chrome-192x192.png
/android-chrome-512x512.png
/apple-touch-icon.png
/favicon-16x16.png
/favicon-32x32.png
/photolinkedin.jpg
/progressive-enhancement2.html
/progressive-enhancement_css2.css
/site.webmanifest
/test.html