p{
    color : black;
    font-family: 'Open Sans',serif;
    line-height : 1.5em;
    font-size : 16px;
}
a{
    color : red;
}
a:hover{
    font-size : 20px;
}
a:visited {
    color : lightcoral;
}
body{
    background: linear-gradient(90deg, rgb(219, 126, 0), rgb(176, 205, 234));
    width:90%;
    margin : auto;
}
 .villageois{
    border-left: 4px solid #ff0000;
    padding-left: 10px;
}
 .fermier{
    border-left: 4px solid #00ff00;
    padding-left: 10px; 
}
blockquote{
    display:block;
    width:45%;
    margin:80px auto;
    font-size: 25.6px;
    background-color: lightgrey;
    border-left : 3px firebrick solid;
    padding-left: 30px;
    font-style:italic;
}
header h1{
    color : yellow;
    text-align:center;
}
[title]{
    background-color:lightblue;
}
.mauvais{
    text-transform: capitalize;
    color:red;
}
.good{
    text-transform: capitalize;
    color: green;
}
.blanc {
    background-color: #f2f2f2; 
}

.gris {
    background-color: #ffffff; 
}
img{
    margin : 20px;
    height:400px;
}
.first_div{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.second_div{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
}
.intro_div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}
.first{
    list-style:  url('bien.png');
}
.second{
    list-style : url('mal.png');
}
.third{
    list-style : url('chat.png');
}
